@charset 'UTF-8';
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
:host {
    width: 16px;
    height: 16px;
    ;
}

.info {
    width: 14px;
    height: 14px;
    display: flex;
    border-radius: 50%;
    background-color: $gray;
    transition: all .3s ease;
    cursor: pointer;
    svg {
        margin: auto;
        width: $gp;
        height: $gp;
        transition: all .3s ease;
        path {
            fill: rgba(43, 53, 66, .8);
        }
    }
    &:hover {
        background-color: #2B3542;
        svg {
            transition: all .3s ease;
            path {
                fill: #ebebeb;
            }
        }
    }
}