@charset 'UTF-8';
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
.linear {
    @include button-reset;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    text-align: left;
    height: 22px;
    .radio {
        display: flex;
        min-width: 16px;
        min-height: 16px;
        margin-right: 8px;
        border-radius: 50%;
        border: 1px solid #C3C3C3;
        .radio_indicator {
            min-width: 10px;
            min-height: 10px;
            border-radius: 50%;
            margin: auto;
            display: block;
            // background-color: #d7d8de;
        }
    }
    span {
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 0;
    }
    &:focus {
        background-color: #f5f5f5;
        outline: none;
        box-shadow: none !important;
    }
    &:active {
        background-color: #f5f5f5;
        outline: none;
        box-shadow: none !important;
    }
}

.tile {
    @include button-reset;
    transition: all .3s ease;
    border: none;
    background-color: $white;
    border-radius: 16px;
    margin: 0 16px 16px 0;
    text-align: left;
    user-select: none;
    padding: 8px;
    position: relative;
    width: 112px;
    height: 98px;
    box-shadow: 0 0 0 1px rgba(43, 53, 66, .1);
    @include on-event() {
        //color: $link-d;
        outline: none;
        transition: all .3s ease;
    }
    &:focus {
        box-shadow: 0 0 0 2px rgba(43, 53, 66, 0), 0 0 0 1px rgba(63, 78, 97, .2), 0 0 0 2px rgba(63, 78, 97, .25), 0 1px 1px rgba(0, 0, 0, .08);
    }
}

.selected {
    .radio {
        .radio_indicator {
            background-color: #838383;
        }
    }
    //  background: $lightgray;
    //  transition: all 0.2s ease;
    //  box-shadow: 0 0 0 1px rgba(43, 53, 66, .1);
    &:focus {
        //box-shadow: 0 0 0 1px rgba(43, 53, 66, .1), 0 2px 5px 0 rgba(43, 53, 66, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08);
    }
    .header {
        color: $dark-complement !important;
        transition: color 0.3s ease;
    }
    .content {
        transition: color 0.3s ease;
    }
    .tile__checkbox {
        background-color: $primary-l;
        border: 1px solid $primary;
        transition: all 0.3s ease;
        svg {
            opacity: 1;
            transition: all 0.3s ease;
        }
    }
}

.tile__header {
    height: 24px;
    width: 104px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.tile__checkbox {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    border: 1px solid $lightgray-borders01;
    float: right;
    svg {
        opacity: 0;
        margin: auto;
        transition: all 0.3s ease;
    }
}


/*
.tile__content {
    width: 96px;
    height: 40px;
    position: absolute;
    bottom: 8px;
    display: flex;
    span {
        display: block;
        margin: 0;
        font-weight: $rosa-fw-medium;
        transition: color 0.3s ease;
    }
    .header {
        font-size: $rosa-fs-rs;
        line-height: 1.2;
        color: $space;
        transition: color 0.3s ease;
    }
    .content {
        font-size: $rosa-fs-rm;
        line-height: 16px;
        color: $lightgray-deepblue;
        font-weight: $rosa-fw-medium;
        margin: auto 0;
        transition: color 0.3s ease;
        text-transform: lowercase;
    }
}
*/
