@charset 'UTF-8';
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
:host {
    transition: all .3s ease;
    line-height: 1em;
    &:focus {
        outline: none;
    }
    &:active {
        outline: rgba(0, 0, 0, .08) auto 3px;
    }
}

.submit {
    @include button-reset;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: $rosa-fs-r;
    font-weight: $rosa-fw-medium;
    border: none;
    border-radius: 4px;
    letter-spacing: 0;
    min-width: 160px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 4px 6px rgba(43, 53, 66, .11), 0 1px 3px rgba(0, 0, 0, .08);
    @include on-event() {
        transition: all 0.3s ease;
        box-shadow: 0 7px 14px rgba(43, 53, 66, .1), 0 3px 6px rgba(0, 0, 0, .08);
        transform: translateY(-1px);
    }
    &:active {
        background: $primary;
        outline: rgba(0, 0, 0, .08) auto 3px;
    }
}

.red {
    background-color: #E50914;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    color: #FFF;
}

.default {
    background-color: $gray;
    color: $gray-deepblue;
    text-shadow: 0 1px 3px rgba(158, 163, 170, .4);
}