@charset 'UTF-8';
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
button {
    @include button-reset;
    margin-left: 4px;
    margin-right: 24px;
    letter-spacing: .5px;
    padding: 0 0 4px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    color: $lightgray-space;
    border-bottom: 1px solid $lightgray-space;
    outline: none;
    background-color: $white;
    transition: all 0.3s ease;
    cursor: pointer !important;
    &:hover {
        opacity: 1;
        transition: all 0.3s ease;
    }
}

.tab-active {
    color: $primary !important;
    border-bottom: 1px solid $white!important;
    transition: all 0.3s ease;
    cursor: default !important;
}