<form [formGroup]='autoComplete'>
    <div class="dadata-component" [attr.aria-autocomplete]="showList ? 'list': 'none'" [attr.aria-expanded]="showList ? true : false " role="combobox" [attr.aria-activedescendant]="dadataItemFocus" #dadatafield>
        <div class="form-control">
            <div class="label__header">
                <rosa-label [value]="'Поиск реквизитов'"></rosa-label>
                <rosa-label-helper [helperContent]="helperContent"></rosa-label-helper>
            </div>

            <div class="form-control__icon">
                <rosa-input [placeholder]="'Поиск реквизитов по названию или инн'" [dropControl]="showList && searchResults" [className]="'input-icon'" [controlName]="'suggest'" [controlOptions]="autoComplete.controls['suggest']" [tabindex]="tabindex" role="textbox"
                    (keyup)="onKey($event)" (focusEvent)="dadataFocus()" (blurEvent)="dadataBlur($event)" tabindex="1"></rosa-input>
                <div class="icon-container">
                    <svg width="16px" height="16px" viewBox="0 0 16 16">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-30.000000, -74.000000)" fill-rule="nonzero">
                                <g id="search-icon" transform="translate(30.000000, 74.000000)">
                                    <path d="M7.20987654,14.4197531 C3.22797168,14.4197531 0,11.1917814 0,7.20987654 C0,3.22797168 3.22797168,0 7.20987654,0 C11.1917814,0 14.4197531,3.22797168 14.4197531,7.20987654 C14.4197531,11.1917814 11.1917814,14.4197531 7.20987654,14.4197531 Z M7.20987654,12.6419753 C10.2099419,12.6419753 12.6419753,10.2099419 12.6419753,7.20987654 C12.6419753,4.20981124 10.2099419,1.77777778 7.20987654,1.77777778 C4.20981124,1.77777778 1.77777778,4.20981124 1.77777778,7.20987654 C1.77777778,10.2099419 4.20981124,12.6419753 7.20987654,12.6419753 Z" id="Oval"></path>
                                    <path d="M15.7396505,14.4825718 C16.0867832,14.8297045 16.0867832,15.3925178 15.7396505,15.7396505 C15.3925178,16.0867832 14.8297045,16.0867832 14.4825718,15.7396505 L11.0455347,12.3026134 C10.698402,11.9554807 10.698402,11.3926674 11.0455347,11.0455347 C11.3926674,10.698402 11.9554807,10.698402 12.3026134,11.0455347 L15.7396505,14.4825718 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <rosa-helper [message]="'Например «Росбанк» или «7730060164»'"></rosa-helper>
                <rosa-loader *ngIf="pending"></rosa-loader>
            </div>
            <ul id="dadata-searchbar__listbox" role="listbox" [ngClass]="{'opened':showList}">
                <li *ngFor="let result of searchResults; index as i; first as isFirst" (mouseenter)="mouseOverAction(i, $event)" (mouseleave)="mouseLeaveAction(i)" (click)="sendDadata(result)" class="dadataresult" [attr.aria-selected]="isFirst ? true : false" id="dadata-searchbar__option-{{result.data.hid}}"
                    role="option" tabindex="-1">
                    <div class="dadata dadata_suggest dadataShow">
                        <span>
                            {{result.value}}
                        </span>
                        <span class="suggest__secondary" *ngIf="result.data.address.data">
                            {{result.data.address.value}}
                        </span>
                        <span class="suggest__secondary" *ngIf="result.data.management">
                            {{result.data.management.name}}
                        </span>
                        <ng-template *ngIf="!result.data.management || !result.data.address.data">
                            <span class="suggest__secondary" *ngIf="result.data.inn"> {{result.data.inn}}</span>
                        </ng-template>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>